body {
}

.game-container {
  position: absolute;
  width: 1200px;
  background-color: #333;
  border-radius: 8px;
}

.game-container .monkey {
  position: absolute;
  bottom: -34px;
  left: 190px;
  z-index: 5;
}

.card-stack {
  position: relative;
  margin: 16px;
  padding: 8px;
  width: 848px;
  background-color: #e9e1c9;
  border-radius: 8px;
}
/*
.card-stack::after {
  content: '';
  position: absolute;
  bottom: 40px;
  left: 900px;
  width: 204px;
  height: 154px;
  z-index: 1;
  border: 1px dashed black;
  border-radius: 8px;
}
*/
.card-container,
.card {
  width: 200px;
  height: 150px;
  border-radius: 8px;
}
.card-container {
  margin: 4px;
  background-color: #cec5aa;
  /* border: 1px solid rgba(0, 0, 0, 0.125); */
  /* perspective: 600px; */
}
.card {
  background-color: transparent;
  border: none;
  transition: opacity 0.5s ease, transform 0.5s;
  transform: translate(-4px, -4px) rotate(0deg);
}
#card-1 {
  z-index: 20;
}
#card-2 {
  z-index: 19;
}
#card-3 {
  z-index: 18;
}
#card-4 {
  z-index: 17;
}
#card-5 {
  z-index: 16;
}
#card-6 {
  z-index: 15;
}
#card-7 {
  z-index: 14;
}
#card-8 {
  z-index: 13;
}
#card-9 {
  z-index: 12;
}
#card-10 {
  z-index: 11;
}
#card-11 {
  z-index: 10;
}
#card-12 {
  z-index: 9;
}
#card-13 {
  z-index: 8;
}
#card-14 {
  z-index: 7;
}
#card-15 {
  z-index: 6;
}
#card-16 {
  z-index: 5;
}
/*
#card-1.card-stacked {
  transform: translate(898px, 435px) rotate(360deg);
}
#card-2.card-stacked {
  transform: translate(693px, 437px) rotate(360deg);
}
#card-3.card-stacked {
  transform: translate(488px, 439px) rotate(360deg);
}
#card-4.card-stacked {
  transform: translate(282px, 441px) rotate(360deg);
}
#card-5.card-stacked {
  transform: translate(904px, 282px) rotate(360deg);
}
#card-6.card-stacked {
  transform: translate(696px, 282px) rotate(360deg);
}
#card-7.card-stacked {
  transform: translate(486px, 282px) rotate(360deg);
}
#card-8.card-stacked {
  transform: translate(282px, 282px) rotate(360deg);
}
#card-9.card-stacked {
  transform: translate(904px, 120px) rotate(360deg);
}
#card-10.card-stacked {
  transform: translate(696px, 120px) rotate(360deg);
}
#card-11.card-stacked {
  transform: translate(486px, 120px) rotate(360deg);
}
#card-12.card-stacked {
  transform: translate(282px, 120px) rotate(360deg);
}
#card-13.card-stacked {
  transform: translate(904px, -40px) rotate(360deg);
}
#card-14.card-stacked {
  transform: translate(696px, -40px) rotate(360deg);
}
#card-15.card-stacked {
  transform: translate(486px, -40px) rotate(360deg);
}
#card-16.card-stacked {
  transform: translate(282px, -40px) rotate(360deg);
}
*/
.card.card-selected {
  background-color: lightblue;
}
.card.card-selected .card-body {
  transition: background-color 0.3s ease;
}
.card.card-matched {
  opacity: 0;
}
.card-body {
  position: relative;
  padding: 0;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}
.card-face {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: white;
  backface-visibility: hidden;
}
.card-face-front,
.card-face-back {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 8px solid white;
  border-radius: 8px;
}
.card-face-front::after,
.card-face-back::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 8px;
}
.card-face-front::after {
  background-image: url(../images/jungle-eyes-static.jpg);
}
.card[data-match='1'] .card-face-back::after {
  background-image: url(../images/monkey-1.jpg);
}
.card[data-match='2'] .card-face-back::after {
  background-image: url(../images/monkey-2.jpg);
}
.card[data-match='3'] .card-face-back::after {
  background-image: url(../images/monkey-3.jpg);
}
.card[data-match='4'] .card-face-back::after {
  background-image: url(../images/monkey-4.jpg);
}
.card[data-match='5'] .card-face-back::after {
  background-image: url(../images/monkey-5.jpg);
}
.card[data-match='6'] .card-face-back::after {
  background-image: url(../images/monkey-6.jpg);
}
.card[data-match='7'] .card-face-back::after {
  background-image: url(../images/monkey-7.jpg);
}
.card[data-match='8'] .card-face-back::after {
  background-image: url(../images/monkey-8.jpg);
}
.card-face-back {
  transform: rotateY(180deg);
}
.card.is-flipped .card-body {
  transform: rotateY(180deg);
}
